USE [master]
GO
/****** Object:  Database [CuaHangBanGiay]    Script Date: 4/28/2021 12:35:31 PM ******/
CREATE DATABASE [CuaHangBanGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangBanGiay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CuaHangBanGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangBanGiay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CuaHangBanGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangBanGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangBanGiay]
GO
/****** Object:  Table [dbo].[AnhSP]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhSP](
	[MaSP] [nvarchar](10) NOT NULL,
	[TenFileA] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenFileA] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[MaChatLieu] [nvarchar](10) NOT NULL,
	[TenChatLieu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChatLieu] PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHDB]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDB](
	[SoHDB] [int] NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[GiamGia] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHDN]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDN](
	[SoHDN] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[GiamGia] [nvarchar](50) NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_ChiTietHDN] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Co]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Co](
	[MaCo] [nvarchar](10) NOT NULL,
	[TenCo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Co] PRIMARY KEY CLUSTERED 
(
	[MaCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuong]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuong](
	[MaDoiTuong] [nvarchar](10) NOT NULL,
	[TenDoiTuong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DoiTuong] PRIMARY KEY CLUSTERED 
(
	[MaDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioSP]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioSP](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[SoHDB] [int] IDENTITY(1,1) NOT NULL,
	[MaKhach] [int] NOT NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HoaDonBan] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[SoHDN] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau](
	[MaMau] [nvarchar](10) NOT NULL,
	[TenMau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Mau] PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaCV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NuocSanXuat]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NuocSanXuat](
	[MaNuocSX] [nvarchar](10) NOT NULL,
	[TenNuocSX] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NuocSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNuocSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](10) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[MaLoai] [nvarchar](10) NOT NULL,
	[MaCo] [nvarchar](10) NOT NULL,
	[MaChatLieu] [nvarchar](10) NOT NULL,
	[MaMau] [nvarchar](10) NOT NULL,
	[MaDoiTuong] [nvarchar](10) NOT NULL,
	[MaNuocSX] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [money] NULL,
	[DonGiaBan] [money] NULL,
	[Anh] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AnhSP] ([MaSP], [TenFileA]) VALUES (N'SP03', N'airmax90.jpg')
INSERT [dbo].[AnhSP] ([MaSP], [TenFileA]) VALUES (N'SP04', N'airmax90.jpg')
INSERT [dbo].[AnhSP] ([MaSP], [TenFileA]) VALUES (N'SP03', N'airmax901.jpg')
GO
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL01', N'Vải')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL02', N'Cao su')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL03', N'Nhựa')
GO
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaSP], [GiamGia], [SoLuong]) VALUES (2, N'SP07', NULL, 1)
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaSP], [GiamGia], [SoLuong]) VALUES (3, N'SP01', NULL, 1)
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaSP], [GiamGia], [SoLuong]) VALUES (3, N'SP07', NULL, 1)
GO
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaSP], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN01', N'SP01', 20, 1000000.0000, NULL, 20000000.0000)
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaSP], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN01', N'SP02', 20, 800000.0000, N'', 16000000.0000)
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaSP], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN02', N'SP06', 30, 2000000.0000, NULL, 60000000.0000)
GO
INSERT [dbo].[Co] ([MaCo], [TenCo]) VALUES (N'C01', N'36')
INSERT [dbo].[Co] ([MaCo], [TenCo]) VALUES (N'C02', N'37')
INSERT [dbo].[Co] ([MaCo], [TenCo]) VALUES (N'C03', N'38')
GO
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV01', N'Thu ngân')
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV02', N'Bán hàng')
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV03', N'Quản lý kho')
GO
INSERT [dbo].[DoiTuong] ([MaDoiTuong], [TenDoiTuong]) VALUES (N'DT01', N'Nam')
INSERT [dbo].[DoiTuong] ([MaDoiTuong], [TenDoiTuong]) VALUES (N'DT02', N'Nữ')
INSERT [dbo].[DoiTuong] ([MaDoiTuong], [TenDoiTuong]) VALUES (N'DT03', N'Cả nam và nữ')
GO
SET IDENTITY_INSERT [dbo].[HoaDonBan] ON 

INSERT [dbo].[HoaDonBan] ([SoHDB], [MaKhach], [NgayBan], [TongTien]) VALUES (2, 1, CAST(N'2021-04-26T16:55:03.257' AS DateTime), 1600000.0000)
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaKhach], [NgayBan], [TongTien]) VALUES (3, 1, CAST(N'2021-04-26T16:58:00.270' AS DateTime), 2700000.0000)
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaKhach], [NgayBan], [TongTien]) VALUES (4, 2, CAST(N'2021-04-26T17:07:14.160' AS DateTime), 1600000.0000)
SET IDENTITY_INSERT [dbo].[HoaDonBan] OFF
GO
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN01', N'NV04', CAST(N'2019-10-14T00:00:00.000' AS DateTime), N'NCC04', 36000000.0000)
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN02', N'NV04', CAST(N'2019-11-10T00:00:00.000' AS DateTime), N'NCC01', 84000000.0000)
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN03', N'NV04', CAST(N'2020-10-10T00:00:00.000' AS DateTime), N'NCC04', 24000000.0000)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [Email], [DienThoai], [DiaChi]) VALUES (1, N'Dương Tuấn Hiếu', N'tuanhieu342000@gmail.com', N'0834633431', N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [Email], [DienThoai], [DiaChi]) VALUES (2, N'duongtuanhieu', N'tuanhieu342000@gmail.com', N'0834633431', N'Ha Noi')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (N'M01', N'Xanh')
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (N'M02', N'Trắng')
INSERT [dbo].[Mau] ([MaMau], [TenMau]) VALUES (N'M03', N'Đỏ')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC01', N'ADIDAS', NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC02', N'Nike', NULL, NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC03', N'Vans', NULL, NULL)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV]) VALUES (N'NV01', N'Nguyễn Văn An', N'Nam', CAST(N'2021-04-03T00:00:00.000' AS DateTime), N'0123456789', NULL, N'CV04')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV]) VALUES (N'NV02', N'Phan Ngọc Anh', N'Nữ', CAST(N'2000-05-10T00:00:00.000' AS DateTime), N'0123456987', NULL, N'CV01')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV]) VALUES (N'NV03', N'Trần Thị Thu', N'Nữ', CAST(N'1989-10-05T00:00:00.000' AS DateTime), N'0123498765', NULL, N'CV04')
GO
INSERT [dbo].[NuocSanXuat] ([MaNuocSX], [TenNuocSX]) VALUES (N'NSX01', N'Japan')
INSERT [dbo].[NuocSanXuat] ([MaNuocSX], [TenNuocSX]) VALUES (N'NSX02', N'Việt Nam')
INSERT [dbo].[NuocSanXuat] ([MaNuocSX], [TenNuocSX]) VALUES (N'NSX03', N'China')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaCo], [MaChatLieu], [MaMau], [MaDoiTuong], [MaNuocSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh]) VALUES (N'SP01', N'Converse Chuck Taylor All Star 1970s', N'ML01', N'C04', N'CL01', N'M04', N'DT03', N'NSX04', 27, 1000000.0000, 1100000.0000, N'CCTAS1970s.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaCo], [MaChatLieu], [MaMau], [MaDoiTuong], [MaNuocSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh]) VALUES (N'SP02', N'Converse Chuck Taylor All Star 1970s', N'ML01', N'C05', N'CL01', N'M04', N'DT03', N'NSX04', 30, 800000.0000, 880000.0000, N'CCTA1970s1.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaCo], [MaChatLieu], [MaMau], [MaDoiTuong], [MaNuocSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh]) VALUES (N'SP03', N'Nike Air Max 90', N'ML01', N'C05', N'CL04', N'M06', N'DT03', N'NSX04', 49, 2000000.0000, 2200000.0000, N'airmax90.jpg')
GO
INSERT [dbo].[TaiKhoan] ([UserName], [PassWord]) VALUES (N'hieu', N'123456')
INSERT [dbo].[TaiKhoan] ([UserName], [PassWord]) VALUES (N'tuanhieu', N'123456')
INSERT [dbo].[TaiKhoan] ([UserName], [PassWord]) VALUES (N'tuanhieu1', N'123456')
GO
INSERT [dbo].[TheLoai] ([MaLoai], [TenLoai]) VALUES (N'ML01', N'Sneaker')
INSERT [dbo].[TheLoai] ([MaLoai], [TenLoai]) VALUES (N'ML02', N'Giày thể thao')
INSERT [dbo].[TheLoai] ([MaLoai], [TenLoai]) VALUES (N'ML03', N'Giày cao gót')
GO
ALTER TABLE [dbo].[AnhSP]  WITH CHECK ADD  CONSTRAINT [FK_AnhSP_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[AnhSP] CHECK CONSTRAINT [FK_AnhSP_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDB_HoaDonBan] FOREIGN KEY([SoHDB])
REFERENCES [dbo].[HoaDonBan] ([SoHDB])
GO
ALTER TABLE [dbo].[ChiTietHDB] CHECK CONSTRAINT [FK_ChiTietHDB_HoaDonBan]
GO
ALTER TABLE [dbo].[ChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDB_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHDB] CHECK CONSTRAINT [FK_ChiTietHDB_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDN_HoaDonNhap] FOREIGN KEY([SoHDN])
REFERENCES [dbo].[HoaDonNhap] ([SoHDN])
GO
ALTER TABLE [dbo].[ChiTietHDN] CHECK CONSTRAINT [FK_ChiTietHDN_HoaDonNhap]
GO
ALTER TABLE [dbo].[ChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDN_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHDN] CHECK CONSTRAINT [FK_ChiTietHDN_SanPham]
GO
ALTER TABLE [dbo].[GioSP]  WITH CHECK ADD  CONSTRAINT [FK_GioSP_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioSP] CHECK CONSTRAINT [FK_GioSP_SanPham]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_HoaDonBan] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachHang] ([MaKhach])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_KhachHang_HoaDonBan]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CongViec] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CongViec] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CongViec]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ChatLieu] FOREIGN KEY([MaChatLieu])
REFERENCES [dbo].[ChatLieu] ([MaChatLieu])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ChatLieu]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Co] FOREIGN KEY([MaCo])
REFERENCES [dbo].[Co] ([MaCo])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Co]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DoiTuong] FOREIGN KEY([MaDoiTuong])
REFERENCES [dbo].[DoiTuong] ([MaDoiTuong])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DoiTuong]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Mau] FOREIGN KEY([MaMau])
REFERENCES [dbo].[Mau] ([MaMau])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Mau]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NuocSanXuat] FOREIGN KEY([MaNuocSX])
REFERENCES [dbo].[NuocSanXuat] ([MaNuocSX])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NuocSanXuat]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_TheLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[TheLoai] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_TheLoai]
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 4/28/2021 12:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_login](@username char(20),@password char(30))
as
begin
	declare @c int
	declare @result bit
	select @c=count(username) from TaiKhoan where UserName=@username and PassWord=@password
	if @c=0
		set @result=1
	else
		set @result=0
	return @result
end
GO
USE [master]
GO
