.bg-login-regis{
    background:url('../images/banner2.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.login {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 3px;
    background: #000000b5;
}
.input {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    margin:5px 0;
}

